/* General Styles */
body {
  font-family: Arial, sans-serif;
  color: #333333;
  background: #0056b3 ;
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid #eb0d0d;
  background-color: rgb(226, 241, 234);
  color: rgb(2, 48, 25);
}

header img.icon {
  width: 50px;
  height: 50px;
}

.head {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


header h1 {
  font-size: 30px;
  margin: 20px;
  font-family: "Lucida Handwriting", cursive;
  font-weight: bold;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  margin: 15px;
  padding: 5px;
  background: #d2f5c5;
  border-radius: 45px;
}

nav ul li a {
  text-decoration: none;
  margin: 15px;
  border: 5px;
  color: #004a99;
  font-size: 1.2em;
}

nav ul li:hover {
  background: rgb(20, 111, 231);
  color: rgb(255, 255, 255);
}

.mode {
  position: absolute;
  top: 0;
  right: 0;
	font-size: 2rem;
	cursor: pointer;
}

main {
  padding: 25px;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-container {
  position: relative;
}

.hero-image {
  width: 100%;
}

a.action {
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 10px 20px;
  background-color: rgb(8, 86, 169);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.action:hover {
  background: rgb(95, 154, 232);
  color: black;
}

.content section {
  margin: 30px;
  padding: 15px;
}

.content a {
  color: #201569;
}

.spotlights {
  text-align: center;
  background: rgb(13, 49, 78);
  color: #fff;
  justify-content: center;
}

.Membership section {
  color: #000;
  background-color: rgb(99, 198, 203);
}

.Membership img {
  width: 100px;
  height: 100px;
  border: #146fe7;
  border-radius: 200px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer img {
  width: 50px;
  height: 50px;
}

footer .address,
footer .details {
  margin: 10px 0;
}

/* Mobile Styles */
@media (max-width: 680px) {
  header {
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 20px;
    padding: 20px;
  }

  nav ul.nav-menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hamburger::before {
    content: "\2630";
  }

  .hamburger.active::before {
    content: "\2715"; 
  }

  .content {
    background: rgb(120, 226, 120);
    padding: 40px;
    border: #1a0aed;
  }

  .content h2 {
    text-align: left;
  }

  .Membership section {
    display: block;
    text-align: center;
    border: 15px;
    padding: 15px;
  }

  .Membership img {
    width: 100px;
    height: 100px;
  }

  footer {
    text-align: center;
  }
}
