/* Laptop Styles */
@media (min-width: 681px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  a.action {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .hamburger {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: rgb(120, 226, 120);
    border: 5px rgba(136, 10, 10, 0.68) solid;
  }

  .content .sec1 {
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    border: 5px rgba(136, 10, 10, 0.68) solid;
    border-radius: 15px;
  }

  .content .sec2 {
    grid-column: 2/3;
    margin: 15px;
    padding: 15px;
    border: 5px rgba(136, 10, 10, 0.68) solid;
    border-radius: 15px;
  }

  .content h2 {
    text-align: left;
  }

  .Membership {
    display: grid;
    background-color: rgb(99, 198, 203);

    grid-template-columns: 1fr 1fr 1fr;
    border: 5px rgba(136, 10, 10, 0.68) solid;
  }

  .Membership section {
    margin: 15px;
    padding: 10px;
    border: 5px rgba(136, 10, 10, 0.68) solid;
    border-radius: 15px;
    color: #000;
  }

  .Membership img {
    display: block;
    margin: auto;
  }

  .spotlights {
    grid-column: 1/4;
  }

  .card1 {
    grid-column: 1/2;
    border: 5px rgba(231, 221, 221, 0.68) solid;
  }

  .card2 {
    grid-column: 2/3;
  }

  .card3 {
    grid-column: 3/4;
  }

  footer .chamber-details {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
  }

  footer .chamber-details img {
    grid-column: 1/2;
    align-self: center;
    justify-self: end;
  }

  footer .course-details {
    display: flex;
    justify-content: space-between;
  }
}
