body {
  background: rgba(6, 42, 224, 0.909);
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 100px;
}

main,
footer {
  font-family: "Roboto", sans-serif;
  border: 1px solid #eb0606;
  background-color: rgb(226, 241, 234);
}
main {
  margin-top: 32px;
}

header,
footer {
  margin: 1rem auto;
  border: 1px solid #eb0d0d;
  padding: 1rem;
  background-color: rgb(226, 241, 234);
  color: rgb(2, 48, 25);
}

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  margin-top: -1px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  margin-left: 20px;
  font-family: "Lucida Handwriting", cursive;
  font-weight: bold;
}

header img {
  border-radius: 40px;
}

nav {
  font-family: "Roboto", sans-serif;
  background-color: rgb(226, 241, 234);
  align-items: center;
  width: 100%;
}

nav a {
  display: block;
  color: rgb(2, 53, 27);
  background: rgb(197, 242, 234);
  font-size: 17px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

nav li {
  list-style: none;
}

nav a:hover {
  color: rgb(16, 47, 185);
  background: rgb(15, 167, 137);
  border: 1px solid #bbb;
}

nav a.active {
  color: white;
  background-color: rgb(9, 43, 26);
  font-weight: bold;
}

nav a.active:hover {
  color: rgb(16, 47, 185);
}

h1 {
  text-align: center;
  color: rgb(7, 120, 64);
}

section {
  padding: 1rem;
  background-color: rgb(221, 240, 231);
  border-radius: 15px;
  border: 1px solid #eb0d0d;
  margin: 1rem;
  color: rgb(2, 49, 26);
}

section ul {
  list-style-type: none;
}

section ul a:hover {
  background: rgb(112, 186, 172);
}

section h2 {
  text-align: center;
  background-color: rgb(68, 90, 79);
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  color: white;
}

section p {
  text-align: center;
  margin: 2rem;
}

footer {
  text-align: center;
  color: rgb(7, 120, 64);
}

#lastModified {
  font-style: normal;
  font-size: 12px;
  color: #2d0505;
}

.flag-icon img {
  width: 20px;
  height: auto;
  margin-left: 1px;
  margin-bottom: -5px;
}

.mode {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

.hamburger {
  font-size: 2rem;
  border: 0;
  margin-top: 8px;
  margin-right: 40px;
  background: none;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1001;
}

.hamburger::before {
  content: "☰";
}

.hamburger.open::before {
  content: "X";
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: black;
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  nav {
    background-color: rgb(197, 242, 234);
  }

  .menu ul {
    display: none;
    flex-direction: column;
    width: 20%;
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 1000;
  }

  .menu ul.active {
    display: flex;
  }

  .menu li {
    text-align: center;
  }
}

@media (min-width: 701px) {
  .hamburger {
    display: none;
  }

  .menu ul {
    display: flex;
    margin: 2rem auto;
  }

  .menu ul.active {
    display: flex;
  }

  .menu li {
    margin: 0 10px;
  }

  .menu a {
    display: block;
  }
}
