body {
  min-width: 510px;
  background: rgba(6, 42, 224, 0.909);
  margin: 5px;

}

main,
footer {
  font-family: "Roboto", sans-serif;
  border: 1px solid #eb0606;
  background-color: rgb(226, 241, 234);
}

header,
footer {
  border: 1px solid #eb0d0d;
  background-color: rgb(226, 241, 234);
  color: rgb(2, 48, 25);
}

.head {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  font-size: 30px;
  margin: 20px;
  font-family: "Lucida Handwriting", cursive;
  font-weight: bold;
}

header img {
  border-radius: 40px;
}


nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 15px;
}

nav ul li {
  margin: 15px;
  padding: 5px;
  background: #e7b0b0;
  border-radius: 45px;
}

.active {
  background: #06acb2;
}

nav ul li a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  border: 5px;
  color: #000;
  font-size: 1.2em;
}

nav ul li:hover {
  background: rgb(20, 111, 231);
  color: rgb(255, 255, 255);
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
  margin-top: -200px;
  margin-left: 50px;
	background: radial-gradient(#fff, #68974d);
	border: 1px solid rgba(0,0,0,.75);
	padding: 10px;
	box-shadow: 0 0 2rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
  text-align: center;
  color: rgb(7, 120, 64);
}

section {
  padding: 1rem;
  background-color: rgb(221, 240, 231);
  border-radius: 15px;
  border: 2px solid #000000;
  margin: 1rem;
  color: rgb(2, 49, 26);
}

section ul {
  list-style-type: none;
}

section ul a:hover {
  background: rgb(112, 186, 172);
}

section h2 {
  text-align: center;
  background-color: rgb(68, 90, 79);
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  color: white;
}

section p {
  text-align: center;
  margin: 2rem;
}

footer {
  text-align: center;
  color: rgb(7, 120, 64);
}

iframe {
  width: 100%;
}

p {
	margin: 1rem;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#links li {
  margin: 15px;
  font-size: 1.3rem;
}

#links a {
  text-decoration: none;
}

.card {
  background-color: rgb(203, 190, 190);
  color: #000000;
  text-align: center;
}

.card #description {
  text-transform: capitalize;
  margin-bottom: 3rem;
  margin-top: -.8rem;
}

.card #temperature {
  font-size: 2rem;
  margin: 3rem;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

#lastModified {
  font-style: normal;
  font-size: 12px;
  color: #2d0505;
}

.flag-icon img {
  width: 20px;
  height: auto;
  margin-left: 1px;
  margin-bottom: -5px;
}

.mode {
  position: absolute;
  margin: 5px;
  top: 0;
  right: 0;
	font-size: 2rem;
	cursor: pointer;
}

@media (max-width: 680px) {
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 20px;
    padding: 20px;
  }

  nav ul.nav-menu.active {
    display: flex;
    background: none;
  }

  .hamburger {
    margin: 5px;
    display: block;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hamburger::before {
    content: "\2630";
  }

  .hamburger.active::before {
    content: "\2715"; 
  }

}
