@media screen and (min-width: 700px) {
  header span {
    font-size: 30px;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    text-align: right;
    grid-column: 2/3;
    align-self: center;
  }

  main {
    margin-top: 15px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav ul li a {
    border-radius: 10px;
  }

  hr {
    grid-column: 1 / 3;
    margin-bottom: 16px;
  }

  .hamburger {
    display: none;
  }

  .sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  section {
    margin: 1rem;
  }
}
