@media screen and (min-width: 800px) {
  header span {
    font-size: 40px;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    text-align: right;
    grid-column: 2/3;
    margin-right: 200px;
    align-self: center;
  }

  nav {
    display: flex;
  }

  nav a {
    flex: 1 1 100%;
    border-radius: 8px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section {
    margin: 1rem;
  }
}
